body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app{
  text-align: center;
}
.column-left,
.column-right,
.column-center {
  margin: 0 1.5% 24px 1.5%;
  outline-style: dotted;
  float: left;
  width: 30%;
}

.header {
  display: flex;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  outline-style: double;
  justify-content: space-evenly;
}

.profile {
  outline-style: double;
 
  
}

.searchBar {
  outline-style: double;
  /* justify-content: space-evenly; */

}
