

body{
  background-image: url(https://images.unsplash.com/photo-1595315343110-9b445a960442?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80);
  background-repeat: 'no-repeat';
  background-size: cover;
  text-align: center;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight:lighter;


}


.title h1 {
  font-weight:lighter;
  font-size: 70px;
  
}

li{
  list-style-type: none;
}

.column-left,
.column-right,
.column-center {
  margin: 0 1.5% 24px 1.5%;
  outline-style: solid;
  outline-width: 0.5px;
  float: left;
  width: 30%;
}

.column-left{
  font-family: 'Barlow', sans-serif;
  background-color:rgba(255, 242, 223, 0.856);
  text-align: left;
}

.span-titles {
  font-weight: bold;
}

.column-left h3 {
  font-weight: lighter;
  text-decoration: underline rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
}

.column-left ul {
  text-align: center;
}

.star-image{
  height: 24px
}

.star-image:hover{
  cursor: pointer;
}

.front-back-lists{
  height: 150px;
}

.bookImage{
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 20px;
  float:left;
  width: 80px;
  height: 100px;
  border-radius: 5%;
}

.bookImage:hover {
  transition: .5s;
  box-shadow: rgb(0, 0, 0) 10px 10px 30px -10px;
}

.books-aside-lists-front{
  text-align: left;
  line-height: 1.5;
  margin-right: 10px;
}

.books-aside-lists-back{
  text-align: justify;
  line-height: 1.5;
}

.column-right{
  background-color:rgba(255, 235, 205, 0.514);
}

.header {
  display: flex;
  /* margin-bottom: 100px; */
  margin-left: 20px;
  margin-right: 20px;
  /* outline-style: double; */
  justify-content: space-evenly;
}

.profile-info-card{
  outline-style: solid;
  /* display: flex; */
  flex-wrap: wrap;
  text-align: center;


}

.nav-link{
  font-size: 25px;

}
/* .profile {
  outline-style: double;
 
  
} */

/* .searchBar {
  outline-style: double;


} */
