/* body {
  margin: 0;
  font-family: 'Gowun Batang', serif;  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.title h1 {
  font-weight:lighter;
  font-size: 70px;

}

.app{
  text-align: center;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight:lighter;
  background-image: url(https://images.unsplash.com/photo-1614849963640-9cc74b2a826f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80);
}
.column-left,
.column-right,
.column-center {
  margin: 0 1.5% 24px 1.5%;
  outline-style: dotted;
  float: left;
  width: 30%;
}

.column-left{
  font-family: 'Share Tech Mono', monospace;

}

.header {
  display: flex;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  outline-style: double;
  justify-content: space-evenly;
}

.profile {
  outline-style: double;
 
  
}

.searchBar {
  outline-style: double;
  /* justify-content: space-evenly; */

}
